@import url("font-awesome.min.css");
/* line 5, ../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
#app {
  background-color: #2ecc71;
}

/* line 9, ../sass/style.scss */
.jumbotron {
  background-color: #3498db !important;
  color: #ecf0f1 !important;
  padding: 0 2em 0 20em;
  z-index: -1;
}
/* line 14, ../sass/style.scss */
.jumbotron p {
  margin-left: 2em;
}
/* line 17, ../sass/style.scss */
.jumbotron hr {
  height: 1px;
  color: #2ecc71;
  background-color: #2ecc71;
  border: none;
}

/* line 25, ../sass/style.scss */
.top-intro {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 30, ../sass/style.scss */
.main-content {
  padding-bottom: 5em;
  background-color: #ecf0f1;
  position: relative;
  z-index: 10;
}

/* line 37, ../sass/style.scss */
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

/* line 44, ../sass/style.scss */
.item {
  background-color: white;
  margin-right: 20px;
  height: auto;
  width: 400px;
  min-height: 50px;
  margin: 0 2em 2em 0;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 52, ../sass/style.scss */
.item:hover {
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
/* line 55, ../sass/style.scss */
.item img {
  height: auto;
  width: 400px;
  z-index: -1;
}
/* line 60, ../sass/style.scss */
.item p {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  width: 400px;
}

/* line 67, ../sass/style.scss */
.desc {
  display: 'block';
  z-index: 1;
  position: absolute;
}

/* line 75, ../sass/style.scss */
footer {
  padding: 2em 0 5em 0;
}

/* line 79, ../sass/style.scss */
.social {
  margin: 2em 0;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 83, ../sass/style.scss */
.social h1 {
  margin-bottom: 5em;
}
/* line 87, ../sass/style.scss */
.social p {
  font-size: 1.25em;
}
/* line 91, ../sass/style.scss */
.social li {
  font-size: 1.25em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: .5em;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 98, ../sass/style.scss */
.social li:hover {
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
/* line 101, ../sass/style.scss */
.social li:hover .fa-github {
  color: #6cc644;
}
/* line 102, ../sass/style.scss */
.social li:hover .fa-twitter {
  color: #00a0d1;
}
/* line 103, ../sass/style.scss */
.social li:hover .fa-linkedin {
  color: #0077b5;
}
/* line 104, ../sass/style.scss */
.social li:hover .fa-google-plus {
  color: #dd4b39;
}
/* line 107, ../sass/style.scss */
.social li:before {
  position: absolute;
  width: 2em;
  /* center align technique, give width, negative half margin */
  margin-left: -1em;
  top: 1.5em;
  left: 50%;
}
/* line 115, ../sass/style.scss */
.social li a {
  display: block;
  color: inherit;
  padding: 0;
  width: 6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* flower animations
  Z-index is in front of jumbotron, and behind main-content
*/
/* line 132, ../sass/style.scss */
.bg {
  z-index: 0;
  /*
  .flower-1 {
    @include config(6em, 1em, $sky, $blue, 0em, 2);
  }
  */
}
@-webkit-keyframes grow {
  from {
    top: 15em;
  }
  to {
    top: 1em;
    opacity: 1;
  }
}
@-moz-keyframes grow {
  from {
    top: 15em;
  }
  to {
    top: 1em;
    opacity: 1;
  }
}
@-ms-keyframes grow {
  from {
    top: 15em;
  }
  to {
    top: 1em;
    opacity: 1;
  }
}
@keyframes grow {
  from {
    top: 15em;
  }
  to {
    top: 1em;
    opacity: 1;
  }
}
@-webkit-keyframes turn-right {
  from {
    transform: rotateY(-140deg);
    -moz-transform: rotateY(-140deg);
    -webkit-transform: rotateY(-140deg);
    -o-transform: rotateY(-140deg);
  }
  to {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
}
@-moz-keyframes turn-right {
  from {
    transform: rotateY(-140deg);
    -moz-transform: rotateY(-140deg);
    -webkit-transform: rotateY(-140deg);
    -o-transform: rotateY(-140deg);
  }
  to {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
}
@-ms-keyframes turn-right {
  from {
    transform: rotateY(-140deg);
    -moz-transform: rotateY(-140deg);
    -webkit-transform: rotateY(-140deg);
    -o-transform: rotateY(-140deg);
  }
  to {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
}
@keyframes turn-right {
  from {
    transform: rotateY(-140deg);
    -moz-transform: rotateY(-140deg);
    -webkit-transform: rotateY(-140deg);
    -o-transform: rotateY(-140deg);
  }
  to {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
}
@-webkit-keyframes turn-left {
  from {
    transform: rotateY(140deg);
    -moz-transform: rotateY(140deg);
    -webkit-transform: rotateY(140deg);
    -o-transform: rotateY(140deg);
  }
  to {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
}
@-moz-keyframes turn-left {
  from {
    transform: rotateY(140deg);
    -moz-transform: rotateY(140deg);
    -webkit-transform: rotateY(140deg);
    -o-transform: rotateY(140deg);
  }
  to {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
}
@-ms-keyframes turn-left {
  from {
    transform: rotateY(140deg);
    -moz-transform: rotateY(140deg);
    -webkit-transform: rotateY(140deg);
    -o-transform: rotateY(140deg);
  }
  to {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
}
@keyframes turn-left {
  from {
    transform: rotateY(140deg);
    -moz-transform: rotateY(140deg);
    -webkit-transform: rotateY(140deg);
    -o-transform: rotateY(140deg);
  }
  to {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
}
/* line 243, ../sass/style.scss */
.bg body {
  padding: 3em;
  background: #d2d2b4;
}
/* line 247, ../sass/style.scss */
.bg .flower {
  -moz-animation-name: grow;
  -webkit-animation-name: grow;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  top: 1em;
  position: absolute;
  z-index: 0;
}
/* line 253, ../sass/style.scss */
.bg .flower span {
  background: #b4d28c;
  width: .5em;
  z-index: 0;
  height: 100vh;
  display: block;
  position: absolute;
}
/* line 260, ../sass/style.scss */
.bg .flower span:after {
  content: '';
  transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  -webkit-transform: rotateY(-140deg);
  -o-transform: rotateY(-140deg);
  -moz-transform-origin: left;
  -webkit-transform-origin: left;
  width: 3em;
  height: 3em;
  display: block;
  background: #a8cb7a;
  border-radius: 2em 0em 2em 0em;
  box-shadow: 0 0 0 0.2em #a1c76f inset;
  z-index: 0;
  top: 1em;
  left: .5em;
  position: relative;
}
/* line 276, ../sass/style.scss */
.bg .flower span:before {
  transform: rotateY(140deg);
  -moz-transform: rotateY(140deg);
  -webkit-transform: rotateY(140deg);
  -o-transform: rotateY(140deg);
  -moz-transform-origin: right;
  -webkit-transform-origin: right;
  -moz-animation-name: turn-left;
  -webkit-animation-name: turn-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -moz-animation-duration: 4s;
  -webkit-animation-duration: 4s;
  content: '';
  width: 3em;
  height: 3em;
  display: block;
  background: #a3c872;
  border-radius: 0em 2em 0em 2em;
  box-shadow: 0 0 0 0.2em #a1c76f inset;
  z-index: 0;
  position: absolute;
  left: -3em;
  top: 5em;
}
/* line 298, ../sass/style.scss */
.bg html:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  background: #c7c7a1;
}
/* line 310, ../sass/style.scss */
.bg .flower-0 {
  height: 5em;
  width: 5em;
  opacity: 0;
  margin-top: 6em;
  background-color: #F3F875;
  border-radius: 25em;
  border: 0em solid #F8C475;
  box-shadow: 0 0 0 0.2em #f7bc62, 0 0 0 0.2em #f5f988 inset;
}
/* line 224, ../sass/style.scss */
.bg .flower-0 span {
  top: 5.2em;
  left: 2.17391em;
}
/* line 233, ../sass/style.scss */
.bg .flower-0 span:before {
  display: block;
}
/* line 234, ../sass/style.scss */
.bg .flower-0 span:after {
  display: none;
}
/* line 318, ../sass/style.scss */
.bg .flower-1 {
  height: 6em;
  width: 6em;
  opacity: 0;
  margin-top: 1em;
  background-color: #D9ABFF;
  border-radius: 30em;
  border: 0em solid #FF89B3;
  box-shadow: 0 0 0 0.2em #ff75a6, 0 0 0 0.2em #e2bfff inset;
}
/* line 224, ../sass/style.scss */
.bg .flower-1 span {
  top: 6.2em;
  left: 2.6087em;
}
/* line 237, ../sass/style.scss */
.bg .flower-1 span:before {
  display: block;
}
/* line 238, ../sass/style.scss */
.bg .flower-1 span:after {
  display: block;
}
/* line 321, ../sass/style.scss */
.bg .flower-2 {
  height: 3em;
  width: 3em;
  opacity: 0;
  margin-top: 4em;
  background-color: #F8C475;
  border-radius: 15em;
  border: 0em solid #F87575;
  box-shadow: 0 0 0 0.2em #f76262, 0 0 0 0.2em #f9cc88 inset;
}
/* line 224, ../sass/style.scss */
.bg .flower-2 span {
  top: 3.2em;
  left: 1.30435em;
}
/* line 229, ../sass/style.scss */
.bg .flower-2 span:before {
  display: none;
}
/* line 230, ../sass/style.scss */
.bg .flower-2 span:after {
  display: none;
}
/* line 324, ../sass/style.scss */
.bg .flower-3 {
  height: 7em;
  width: 7em;
  opacity: 0;
  margin-top: 6em;
  background-color: #F87575;
  border-radius: 35em;
  border: 0em solid #F8C475;
  box-shadow: 0 0 0 0.2em #f7bc62, 0 0 0 0.2em #f98888 inset;
}
/* line 224, ../sass/style.scss */
.bg .flower-3 span {
  top: 7.2em;
  left: 3.04348em;
}
/* line 233, ../sass/style.scss */
.bg .flower-3 span:before {
  display: block;
}
/* line 234, ../sass/style.scss */
.bg .flower-3 span:after {
  display: none;
}
/* line 327, ../sass/style.scss */
.bg .flower-4 {
  height: 3em;
  width: 3em;
  opacity: 0;
  margin-top: 1em;
  background-color: #75BFF8;
  border-radius: 15em;
  border: 0em solid #a6d6fa;
  box-shadow: 0 0 0 0.2em #92cdf9, 0 0 0 0.2em #88c8f9 inset;
}
/* line 224, ../sass/style.scss */
.bg .flower-4 span {
  top: 3.2em;
  left: 1.30435em;
}
/* line 233, ../sass/style.scss */
.bg .flower-4 span:before {
  display: block;
}
/* line 234, ../sass/style.scss */
.bg .flower-4 span:after {
  display: none;
}
/* line 330, ../sass/style.scss */
.bg .flower-5 {
  height: 4em;
  width: 4em;
  opacity: 0;
  margin-top: 2em;
  background-color: #D9ABFF;
  border-radius: 20em;
  border: 0em solid #FF89B3;
  box-shadow: 0 0 0 0.2em #ff75a6, 0 0 0 0.2em #e2bfff inset;
}
/* line 224, ../sass/style.scss */
.bg .flower-5 span {
  top: 4.2em;
  left: 1.73913em;
}
/* line 237, ../sass/style.scss */
.bg .flower-5 span:before {
  display: block;
}
/* line 238, ../sass/style.scss */
.bg .flower-5 span:after {
  display: block;
}
/* line 333, ../sass/style.scss */
.bg .flower-6 {
  height: 5em;
  width: 5em;
  opacity: 0;
  margin-top: 7em;
  background-color: #F87575;
  border-radius: 25em;
  border: 1.2em solid #F8C475;
  box-shadow: 0 0 0 0.2em #f7bc62, 0 0 0 0.2em #f98888 inset;
}
/* line 224, ../sass/style.scss */
.bg .flower-6 span {
  top: 6.4em;
  left: 2.17391em;
}
/* line 237, ../sass/style.scss */
.bg .flower-6 span:before {
  display: block;
}
/* line 238, ../sass/style.scss */
.bg .flower-6 span:after {
  display: block;
}
/* line 337, ../sass/style.scss */
.bg .flower-0 {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  left: 1em;
}
/* line 340, ../sass/style.scss */
.bg .flower-0 span:before {
  -moz-animation-name: turn-right;
  -webkit-animation-name: turn-right;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
}
/* line 343, ../sass/style.scss */
.bg .flower-0 span:after {
  -moz-animation-name: turn-left;
  -webkit-animation-name: turn-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}
/* line 337, ../sass/style.scss */
.bg .flower-1 {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  left: 11em;
}
/* line 340, ../sass/style.scss */
.bg .flower-1 span:before {
  -moz-animation-name: turn-right;
  -webkit-animation-name: turn-right;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
}
/* line 343, ../sass/style.scss */
.bg .flower-1 span:after {
  -moz-animation-name: turn-left;
  -webkit-animation-name: turn-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}
/* line 337, ../sass/style.scss */
.bg .flower-2 {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  left: 21em;
}
/* line 340, ../sass/style.scss */
.bg .flower-2 span:before {
  -moz-animation-name: turn-right;
  -webkit-animation-name: turn-right;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
}
/* line 343, ../sass/style.scss */
.bg .flower-2 span:after {
  -moz-animation-name: turn-left;
  -webkit-animation-name: turn-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}
/* line 337, ../sass/style.scss */
.bg .flower-3 {
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  left: 31em;
}
/* line 340, ../sass/style.scss */
.bg .flower-3 span:before {
  -moz-animation-name: turn-right;
  -webkit-animation-name: turn-right;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
}
/* line 343, ../sass/style.scss */
.bg .flower-3 span:after {
  -moz-animation-name: turn-left;
  -webkit-animation-name: turn-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}
/* line 337, ../sass/style.scss */
.bg .flower-4 {
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  left: 41em;
}
/* line 340, ../sass/style.scss */
.bg .flower-4 span:before {
  -moz-animation-name: turn-right;
  -webkit-animation-name: turn-right;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
}
/* line 343, ../sass/style.scss */
.bg .flower-4 span:after {
  -moz-animation-name: turn-left;
  -webkit-animation-name: turn-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}
/* line 337, ../sass/style.scss */
.bg .flower-5 {
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  left: 51em;
}
/* line 340, ../sass/style.scss */
.bg .flower-5 span:before {
  -moz-animation-name: turn-right;
  -webkit-animation-name: turn-right;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
}
/* line 343, ../sass/style.scss */
.bg .flower-5 span:after {
  -moz-animation-name: turn-left;
  -webkit-animation-name: turn-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}
/* line 337, ../sass/style.scss */
.bg .flower-6 {
  -moz-animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  left: 61em;
}
/* line 340, ../sass/style.scss */
.bg .flower-6 span:before {
  -moz-animation-name: turn-right;
  -webkit-animation-name: turn-right;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
}
/* line 343, ../sass/style.scss */
.bg .flower-6 span:after {
  -moz-animation-name: turn-left;
  -webkit-animation-name: turn-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}
